/* You can add global styles to this file, and also import other style files */
body {
  text-align: center;
  background-color: aqua;
}
h1 {
  font-size: 4rem;
  margin: 0.5rem;
  margin-top: 2rem;
}

h2 {
  color: yellow;
  margin: 0.5rem;
}
p {
  color: green;
  margin: 0.5rem;
}

.grande {
  font-size: 3rem;
  margin: 0.5rem;
}
